# Python

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual environments

venv/
.env/

# Jupyter

.ipynb_checkpoints/

# VSCode

.vscode/

# Logs

*.log

# OS

.DS_Store
Thumbs.db

# Datos generados automáticamente

web/data/*.json
datos/procesados/*.csv

